@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    /* border:1px red solid;    */
}
html::selection{
    color: white;
    background-color: black;
}
nav{
    background-color: #bcffc1;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    background:linear-gradient(to top right,#003711,#70ff79);
    color: transparent;
    background-clip: text;
}
nav i{
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
}
nav i:hover{
    transform: translateY(-5px);
    color: green;
}
header{
    padding: 0 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #dffde1;
}
.add{
    font-size: 12px;
}
ul{
    list-style: none;
}
.type{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    gap: 50px;
    /* padding: 10px; */
}
.type p{
    padding:10px;
}
.catog{
    padding: 10px;
}
.box{
    display: none;
    position: absolute;
    top: 45px;
    background-color: #dffde1;
    transform: translateX(-20px);
    padding: 10px 30px;
    border-radius:0 0 10px 10px;
    z-index: 100;
}
.org:hover .orgbox{
    display: block;
}
.fru:hover .frubox{
    display: block;
}
.veg:hover .vegbox{
    display: block;
}
.gro:hover .grobox{
    display: block;
}
.box ul li p{
    cursor: pointer;
    font-weight: 400;
    border-bottom:1px solid transparent ;
}
.box ul li p:hover{
    color: #003611;
    border-bottom: 1px solid rgb(0, 54, 0);
}
.bt{
    height: 100vh;
    background-color: #ffffff;
}
.item-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px; 
}
.item-box img{
    height: 150px;
    width: 200px;
    transition: all .2s ease-in;
}
.items{
    border: 1px rgb(221, 221, 221) solid;
    box-shadow:0 10px 10px rgb(243, 243, 243);
    padding: 10px;
    margin-top: 50px;
    transition: all .3s ease;
}
.items:hover{
    scale: 1.05;
    transform: translateY(-10px);
}
.items:hover .item-box img{
    scale: 1.09;
}
.item-name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}
.desc{
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #F0F0F0;
    color: #707070;
    display: inline;
    border-radius: 2px;
}
.btn{
    background-color: #70ff79;
    color: #003611;
    border-radius: 10px;
    width: 40%;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    box-shadow:0 1px 8px  rgb(171, 171, 171);
    transform: translateY(-3px);
}
.btn:active{
    color: black;
    transform: translateY(0);
    scale: .95;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
footer{
    background-color: #bcffc1;
    height:100px;
    color: #000000;
    text-align: center;
    padding: 40px;
}
footer p{
    font-size: 14px;
    font-weight:500 ;
    line-height: 40px;
}