@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 300;
    /* border: 1px red solid; */
}
body{
    padding:50px;
    font-family: "Poppins", sans-serif;
}
.logo{
    height:80px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.common{
    border: 1px rgb(142, 142, 142) solid;
    padding: 5px;
    background-color: #d8d8d8;
    margin-bottom: 10px;
}
nav{
    text-align: center;
}
.header{
    height: 150px;
}
.textarea{
    height: 100px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    width:300px;
    margin:30px 0;
    height: 500px;
}