@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
    font-family: 'Popins',sans-serif;
}
body{
    background-color: black;
    color:white;
}
.nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255,255,255,1);
    height: 100px;
    color:black;
    padding:25px;
}
.nav h1{
     font-size: 50px;
     font-weight: 900;
}
.main{
    display: flex;
    justify-content:center;
    align-items: center;
    height: calc(100vh - 100px);
    padding: 10px 50px ;
}
.icons-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding:20px;
    height: 100px;
}
i{
    font-size: 50px;
    transition: all .3s ease;
    padding:10px 0;
    border-radius: 15px;
}
i:hover{
    scale: 1.1;
    transform: translateY(-15px);
}
.fa-facebook:hover{
    background-color: white;
    color: rgb(58, 58, 255);
}
.fa-linkedin:hover{
    background-color: white;
    color: rgb(58, 58, 255);
}
.fa-whatsapp:hover{
    color:#25D366;
    background-color: white;
}
.fa-github:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
.fa-pinterest:hover{
    color: rgb(212, 0, 0);
    background-color: white;
}
.fa-discord:hover{
    background-color: rgb(31, 121, 195);
    color: white;
}
.fa-aws:hover{
    color: rgb(251, 154, 18);
    background-color: white;
}
.fa-instagram:hover{
    --yellow: #fdf497;
    --orange: #fd5949;
    --pink: #d6249f;
    --blue: #285AEB;
    background: radial-gradient(circle at 30% 107%, var(--yellow) 0%, var(--yellow) 5%, var(--orange) 45%, var(--pink) 60%, var(--blue) 90%);
}
