@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 300;
}
body{
    padding:50px;
    font-family: "Poppins", sans-serif;
}
.common{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(142, 142, 142) solid;
    padding: 5px;
    background-color: #d8d8d8;
    margin-bottom: 10px;
}
.logo{
    justify-content: left;  
    height: 60px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.squares{
    height: 200px;
    width: 100%;
    border: 1px rgb(142, 142, 142) solid;
    background-color: #d8d8d8;
    margin-bottom: 20px;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.box{
    width: 30%;
    height: 200px;
}