@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    border:1px red solid;
}
body{
    height: 100vh;
    background-color: #27264B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 90%;
    border-radius: 25px ;
    background-color:#F8FAFE;
    padding: 50px;
}
.card{
    height:100% ;
    width: 400px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 15px -10px gray;
    padding: 10px;
    transition: all .3s ease-in-out;
    flex: 1; 
}
.text{
    text-align: center;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}
.free .text{
    background:linear-gradient(to right,rgb(215, 235, 248),rgb(88, 184, 244));
    /* background-color: #27264B; */
}
.lite .text{
    background:linear-gradient(to right,rgb(226, 245, 142),rgb(212, 245, 62));
}
.pro .text{
    background:linear-gradient(to right,rgb(188, 244, 170),rgb(102, 244, 54));
}
.max .text{
    background:linear-gradient(to right,rgb(248, 201, 165),rgb(246, 141, 62));
}
.free:hover{
    box-shadow: 0 25px 20px -5px rgb(119, 252, 252);
}
.lite:hover{
    box-shadow: 0 25px 20px -5px rgb(231, 255, 121);
}
.pro:hover{
    box-shadow: 0 25px 20px -5px rgb(149, 244, 117);
}
.max:hover{
    box-shadow: 0 25px 20px  rgb(245, 173, 117);
}
sub,sup{
    font-weight: 700;
    font-size: 18px;
}
.price{
    margin-top: 40px;
    text-align: center;
    color: #27264B;
}
.price h1{
    font-size: 35px;
    font-weight: 800;
}
.price p{
    font-size: 16px;
    font-weight: 700;
}
.button{
    padding: 10px 20px;
    text-align: center;
    color: #27264B;
    border:1px solid #27264B;
    margin: 40px 20px 0 20px;
    transition: all .3s ease;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover .button{
    color: white;
    background-color: #27264B;
}
.button p{
    font-size: 20px;
    font-weight: 600;
}